.rot90 {
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
}
.horns{
  font-size: 120px;
  color: #c00;
  font-family: helvetica;
  font-weight: bold;
  display: block;
  margin: 10px auto;
/*  height: 85px;*/
  line-height: 85px;
  text-align: center;
  margin-left: -20px;
  text-shadow: 2px 2px 2px #aaa;
}
#moo { position: absolute; height:100px; width: 200px; left: 50%; right: 50%; margin-left: -100px; margin-right: -100px}
header { text-align: center;
font-family: 'Smokum', cursive;}
header h1 {
  font-size: 46px;
  margin-bottom: 0px;
}
a, a:link, a:visited { 
  color: #c00;
}
.note { font-family: arial; font-size: 12px; color: #ccc; font-weight: normal; margin-top: 48px;}
/*section { display:none;}*/
section#splash { display: none;}
ul.sponsors { list-style: none; }
ul.sponsors li { text-align:center; margin-bottom: 12px;}

body { background: url(../img/bg.png) top left repeat;}

/*#sponsors_rail h2 { height: 44px;  text-indent:1000px; overflow: hidden}*/
#home h1 { height: 132px;  text-indent: -1000px;overflow: hidden}
header h1 { height: 138px; width: 206px; text-indent: -1000px; overflow:hidden; margin: 10px auto 0px;}
header h2 { display: none}
nav {display:block; width: 100%; height: 86px; background: url(../img/navigationbg.png) top left repeat-x; margin-bottom: 12px}
nav ul { width: 940px; margin: 0px auto;  list-style: none}
nav a { height: 61px; display: block; text-indent:-1000px; overflow:hidden; padding: 0px 29px;}
nav li { float: left; margin: 0px;}
#nav-home a {  width: 52px;}
#nav-schedule a {  width: 87px;}
#nav-venue a { width: 62px;}
#nav-speakers a { width: 87px;}
#nav-sponsors a {  width: 86px;}
#nav-about a {  width: 89px;}
#nav-moo a { width: 58px;}

#nav-home a:hover { background: url(../img/home-hover.png) bottom center no-repeat; width: 52px;}
#nav-schedule a:hover { background: url(../img/schedule-hover.png) bottom center no-repeat; width: 87px;}
#nav-venue a:hover { background: url(../img/venue-hover.png) bottom center no-repeat; width: 62px;}
#nav-speakers a:hover { background: url(../img/speakers-hover.png) bottom center no-repeat; width: 87px;}
#nav-sponsors a:hover { background: url(../img/sponsors-hover.png) bottom center no-repeat; width: 86px;}
#nav-about a:hover { background: url(../img/about-hover.png) bottom center no-repeat; width: 89px;}
#nav-moo a:hover { background: url(../img/moo-hover.png) bottom center no-repeat; width: 58px;}

navigation li.selected { background: url(../img/nub.png) bottom center no-repeat; height: 86px; }
header { background: url(../img/rollinghills.png) top left repeat-x;}

h3 { font-family: 'Smokum', cursive;font-size: 42px; color: #433625; text-shadow:#FFFFFF 1px 1px 2px}
#sponsors_rail h2 { font-family: 'Smokum', cursive; color: #433625; text-shadow:#FFFFFF 1px 1px 2px; text-align: center; font-size: 25px}
#cowboy {
  background: url(../img/cowboy.png) bottom right no-repeat;
  padding-bottom: 21px;
}
section { margin-bottom: 50px; }
#mountains { 
  background:url(../img/transitionhills1.jpg) bottom center no-repeat;
}

#pictures li { list-style: none; float: left; margin-right: 0px}
#pictures { height:200px; margin-bottom: 12px}

#sponsors .logo { float:left; }
#sponsors p { margin-left: 250px;}
.sponsor { margin-bottom: 24px;padding-bottom: 4px; background: url(../img/sep.png) bottom left repeat-x; }

.interested h3 { border-bottom: 2px solid #FC7805;border-top: 2px solid #FC7805; text-align: center}
#sponsors_rail .interested { margin-left: 10px; margin-right: 10px}
#about ul { margin-left: 40px}
.curator h4 { margin-bottom: 4px; margin-top: 8px; font-family: 'Smokum', cursive;  text-shadow:#FFFFFF 1px 1px 2px}
.curator  { text-align:center}
.curator p { text-align: left;}
section.divide { background:url(../img/split.png) 640px 0px repeat-y;}

.vfill { height: 200px}

footer { width: 960px; margin: 300px auto 0px;}
footer img { position: absolute;}
footer ul { list-style: none;  margin-left: 200px; margin-bottom: 0px; font-family: 'Smokum', cursive; font-size: 24px}
footer li { float: left}
footer a, footer a:link, footer a:visited { color: white !important;}
footer a:hover { color: #ccc}
#copyright, footer hr { margin-left: 200px; color: white}


header h1 {
  background-image: url(http://2012.jsconf.us/img/logo.png);
  background-image: url(../img/spriteme1.png);
  background-position: -10px -10px;
}
#nav-about a {
  background-image: url(http://2012.jsconf.us/img/about.png);
  background-image: url(../img/spriteme1.png);
  background-position: 0px -168px;
}
/*#sponsors_rail h2 {
  background-image: url(http://2012.jsconf.us/img/sponsorst.png);
  background-image: url(../img/spriteme1.png);
  background-position: -6px -249px;
}
*/
#home h1 {
  background-image: url(http://2012.jsconf.us/img/header.png);
  background-image: url(../img/spriteme1.png);
  background-position: -10px -313px;
}
#nav-home a {
  background-image: url(../img/spriteme2.png);
  background-position: 0px 24px;
  background-repeat: no-repeat;
}
#nav-schedule a {
  background-image: url(../img/spriteme2.png);
  background-position: -110px 24px;
  background-repeat: no-repeat;
}
#nav-venue a {
  background-image: url(../img/spriteme2.png);
  background-position: -255px 24px;
  background-repeat: no-repeat;
}
#nav-speakers a {
  background-image: url(../img/spriteme2.png);
  background-position: -375px 24px;
  background-repeat: no-repeat;
}
#nav-sponsors a {
  background-image: url(../img/spriteme2.png);
  background-position: -520px 24px;
  background-repeat: no-repeat;
}
#nav-moo a {
  background-image: url(../img/spriteme2.png);
  background-position: -664px 35px;
  background-repeat: no-repeat;
}


#nav-home a:hover, #nav-home a:visited:hover {
  background-image: url(../img/spriteme2-hover.png);
  background-position: 0px 24px;
  background-repeat: no-repeat;
}
#nav-schedule a:hover, #nav-schedule a:visited:hover {
  background-image: url(../img/spriteme2-hover.png);
  background-position: -110px 24px;
  background-repeat: no-repeat;
}
#nav-venue a:hover, #nav-venue a:visited:hover {
  background-image: url(../img/spriteme2-hover.png);
  background-position: -255px 24px;
  background-repeat: no-repeat;
}
#nav-speakers a:hover, #nav-speakers a:visited:hover {
  background-image: url(../img/spriteme2-hover.png);
  background-position: -375px 24px;
  background-repeat: no-repeat;
}
#nav-sponsors a:hover, #nav-sponsors a:visited:hover {
  background-image: url(../img/spriteme2-hover.png);
  background-position: -520px 24px;
  background-repeat: no-repeat;
}
#nav-moo a:hover, #nav-moo a:visited:hover {
  background-image: url(../img/spriteme2-hover.png);
  background-position: -664px 35px;
  background-repeat: no-repeat;
}

navigation ul { list-style: none}
footer a, footer a:link, footer a:visited  { color: white}