.rot90 {
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
}
.horns{
  font-size: 120px;
  color: #c00;
  font-family: helvetica;
  font-weight: bold;
  display: block;
  margin: 10px auto;
/*  height: 85px;*/
  line-height: 85px;
  text-align: center;
  margin-left: -20px;
  text-shadow: 2px 2px 2px #aaa;
}
#moo { position: absolute; height:100px; width: 200px; left: 50%; right: 50%; margin-left: -100px; margin-right: -100px}
header { text-align: center;
font-family: 'Smokum', cursive;}
header h1 {
  font-size: 46px;
  margin-bottom: 0px;
}
a, a:link, a:visited { 
  color: #c00;
}
.note { font-family: arial; font-size: 12px; color: #ccc; font-weight: normal; margin-top: 48px;}
/*section { display:none;}*/
section#splash { display: none;}
ul.sponsors { list-style: none; }
ul.sponsors li { text-align:center; margin-bottom: 18px;margin-right: 0px}

body { background: url(../img/bg.png) top left repeat;height:100%}

#sponsors_rail h2 { height: 44px;  text-indent:1000px; overflow: hidden}
#home h1 { height: 132px;  text-indent: -1000px;overflow: hidden}
header h1 { height: 138px; width: 206px; text-indent: -1000px; overflow:hidden; margin: 10px auto 0px;}
header h2 { display: none}
nav {display:block; width: 100%; height: 86px; background: url(../img/navigationbg.png) top left repeat-x; margin-bottom: 12px}
nav ul { width: 940px; margin: 0px auto;  list-style: none}
nav a { height: 61px; display: block; text-indent:-1000px; overflow:hidden; padding: 0px 19px;}
nav li { float: left; margin: 0px;}
#nav-home a {  width: 52px;}
#nav-schedule a {  width: 87px;}
#nav-venue a { width: 62px;}
#nav-speakers a { width: 87px;}
#nav-sponsors a {  width: 86px;}

#nav-about a {  width: 89px;}

#nav-moo a { width: 58px;}

#nav-community a { background: url(../img/community.png) 34px 34px no-repeat; width: 103px;}
#nav-community a:hover, #nav-community a.selected {background: url(../img/community.png) 34px -83px no-repeat; width: 103px;}

navigation li.selected { background: url(../img/nub.png) bottom center no-repeat; height: 86px; }
header { background: url(../img/rollinghills.png) top left repeat-x;}

h3 { font-family: 'Smokum', cursive;font-size: 42px; color: #433625; text-shadow:#FFFFFF 1px 1px 2px}
h5 { font-family: 'Smokum', cursive;font-size: 28px; color: #433625; text-shadow:#FFFFFF 1px 1px 2px; margin-bottom: 4px}
/*#sponsors_rail h2 { font-family: 'Smokum', cursive; color: #433625; text-shadow:#FFFFFF 1px 1px 2px; text-align: center; font-size: 25px}*/
#cowboy {
  background: url(../img/cowboy.png) bottom right no-repeat;
  padding-bottom: 21px;
}
section { margin-bottom: 50px; }
#mountains { 
  background:url(../img/transitionhills1.jpg) bottom center no-repeat;
}

#pictures li { list-style: none; float: left; margin-right: 0px}
#pictures { height:200px; margin-bottom: 12px}

.speaker .pic {
  float:left;
  text-align: center;
  width:240px;
 margin-bottom: 12px;
} 

.speaker { padding-bottom: 12px;}
#sponsors .logo { float:left; }
.speaker p, .speaker h5, #sponsors p { margin-left: 250px;}
.sponsor, .speaker { margin-bottom: 24px;padding-bottom: 4px; background: url(../img/sep.png) bottom left repeat-x; }

.interested h3 { border-bottom: 2px solid #FC7805;border-top: 2px solid #FC7805; text-align: center}
#sponsors_rail .interested { margin-left: 10px; margin-right: 10px}
#about ul { margin-left: 40px}
.curator h4 { margin-bottom: 4px; margin-top: 8px; font-family: 'Smokum', cursive;  text-shadow:#FFFFFF 1px 1px 2px}
.curator  { text-align:center}
.curator p { text-align: left;}
section.divide { background:url(../img/split.png) 640px 0px repeat-y;}

.vfill { height: 200px}

footer { width: 960px; margin: 300px auto 0px;}
footer img { position: absolute;}
footer ul { list-style: none;  margin-left: 200px; margin-bottom: 0px; font-family: 'Smokum', cursive; font-size: 24px}
footer li { float: left}
footer a, footer a:link, footer a:visited { color: white !important;}
footer a:hover { color: #ccc}
#copyright, footer hr { margin-left: 200px; color: white}


header h1 {
  background-image: url(../img/spriteme1.png);
  background-position: -10px -10px;
  background-repeat: no-repeat;
}
#nav-about a {
  background-image: url(../img/spriteme1.png);
  background-position: 0px -168px;
  background-repeat: no-repeat;
}
#sponsors_rail h2 {
  background-image: url(../img/spriteme1.png);
  background-position: -6px -249px;
  background-repeat: no-repeat;
}

#home h1 {
  background-image: url(../img/spriteme1.png);
  background-position: -10px -313px;
  background-repeat: no-repeat;
}
#nav-home a {
  background-image: url(../img/spriteme3.png);
  background-position: 0px 24px;
  background-repeat: no-repeat;
}
#nav-schedule a {
  background-image: url(../img/spriteme3.png);
  background-position: -110px 24px;
  background-repeat: no-repeat;
}
#nav-venue a {
  background-image: url(../img/spriteme3.png);
  background-position: -255px 24px;
  background-repeat: no-repeat;
}
#nav-speakers a {
  background-image: url(../img/spriteme3.png);
  background-position: -375px 24px;
  background-repeat: no-repeat;
}
#nav-sponsors a {
  background-image: url(../img/spriteme3.png);
  background-position: -520px 24px;
  background-repeat: no-repeat;
}
#nav-moo a {
  background-image: url(../img/spriteme3.png);
  background-position: -664px 35px;
  background-repeat: no-repeat;
}

#nav-about a:hover, #nav-about a.hover, #nav-about a:visited:hover {
  background-image: url(../img/about-hover.png);
  background-position: 29px 0px;
  background-repeat: no-repeat;
}

#nav-home a:hover, #nav-home a:visited:hover {
  background-image: url(../img/spriteme3.png);
  background-position: 0px -120px;
  background-repeat: no-repeat;
}
#nav-schedule a:hover, #nav-schedule a:visited:hover {
  background-image: url(../img/spriteme3.png);
  background-position: -110px -120px;
  background-repeat: no-repeat;
}
#nav-venue a:hover, #nav-venue a:visited:hover {
  background-image: url(../img/spriteme3.png);
  background-position: -255px -120px;
  background-repeat: no-repeat;
}
#nav-speakers a:hover, #nav-speakers a:visited:hover {
  background-image: url(../img/spriteme3.png);
  background-position: -375px -120px;
  background-repeat: no-repeat;
}
#nav-sponsors a:hover, #nav-sponsors a:visited:hover {
  background-image: url(../img/spriteme3.png);
  background-position: -520px -120px;
  background-repeat: no-repeat;
}
#nav-moo a:hover, #nav-moo a:visited:hover {
  background-image: url(../img/spriteme3.png);
  background-position: -664px -109px;
  background-repeat: no-repeat;
}

#meltmedia .logo { 
  margin-left: 50px;
}

#unicon .logo { 
  margin-left: 28px;
}

#tagsoup img {
  margin: 0 42px 25px;
}

navigation ul { list-style: none}
footer a, footer a:link, footer a:visited  { color: white}

table.schedule { width: 100%; border: 1px solid #433625;}
table.schedule td {  border-bottom: 1px solid #433625; padding: 6px; font-size: 14px; text-align: center;}
td.time, td.tracka { border-right: 1px solid #433625}
table.schedule td.tracka, table.schedule td.trackb { width: 41%; text-align: left;}
td.time { width: 100px; font-weight: bold}
table.schedule th { background: #433625; color: white; font-weight: bold; font-family: 'Smokum', cursive; font-size: 18px; text-align: center}
td.tracka a { font-weight: bold;}
.trackb .top { padding-bottom:6px; border-bottom: 1px solid #433625;}
.trackb .bottom { padding-top: 6px; padding-top: 6px;}


hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    margin: 24px 0px; 
    text-align: center;
}

#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#333; border:8px solid #444; padding:12px;}
.simplemodal-data { background: white; padding: 12px;}
.wolfpack { display: none;}

form.tb label { width: 100px; font-weight: bold; display: block; float: left;}
form.tb div.input {line-height: 40px; font-size: 14px; line-height: 40px; height: 40px;}
form.tb div.err {  background-color: #C43C35; color:white;border: 1px solid #333}
div.err ul { margin-bottom: 0px; margin-left: 20px}
div.err { padding: 12px; margin-bottom: 12px}
div.err h5 { color: white; margin-top: 0px; font-size: 26px; text-shadow: 0px;}
form.tb input { padding: 4px; font-size: 14px; width: 400px}
form.tb .submit { padding-left: 100px}


button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;*overflow:visible;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type=button],input[type=reset],input[type=submit]{width:auto;height:auto;}
button.btn::-moz-focus-inner,input[type=submit].btn::-moz-focus-inner{padding:0;border:0;}
.btn.danger,.alert-message.danger,.btn.danger:hover,.alert-message.danger:hover,.btn.error,.alert-message.error,.btn.error:hover,.alert-message.error:hover,.btn.success,.alert-message.success,.btn.success:hover,.alert-message.success:hover,.btn.info,.alert-message.info,.btn.info:hover,.alert-message.info:hover{color:#ffffff;}
.btn .close,.alert-message .close{font-family:Arial,sans-serif;line-height:18px;}
.btn.danger,.alert-message.danger,.btn.error,.alert-message.error{background-color:#c43c35;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));background-image:-moz-linear-gradient(top, #ee5f5b, #c43c35);background-image:-ms-linear-gradient(top, #ee5f5b, #c43c35);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));background-image:-webkit-linear-gradient(top, #ee5f5b, #c43c35);background-image:-o-linear-gradient(top, #ee5f5b, #c43c35);background-image:linear-gradient(top, #ee5f5b, #c43c35);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#c43c35 #c43c35 #882a25;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.btn.success,.alert-message.success{background-color:#57a957;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));background-image:-moz-linear-gradient(top, #62c462, #57a957);background-image:-ms-linear-gradient(top, #62c462, #57a957);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));background-image:-webkit-linear-gradient(top, #62c462, #57a957);background-image:-o-linear-gradient(top, #62c462, #57a957);background-image:linear-gradient(top, #62c462, #57a957);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#57a957 #57a957 #3d773d;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.btn.info,.alert-message.info{background-color:#339bb9;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));background-image:-moz-linear-gradient(top, #5bc0de, #339bb9);background-image:-ms-linear-gradient(top, #5bc0de, #339bb9);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));background-image:-webkit-linear-gradient(top, #5bc0de, #339bb9);background-image:-o-linear-gradient(top, #5bc0de, #339bb9);background-image:linear-gradient(top, #5bc0de, #339bb9);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#339bb9 #339bb9 #22697d;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.btn{cursor:pointer;display:inline-block;background-color:#e6e6e6;background-repeat:no-repeat;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);background-image:-ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);padding:5px 14px 6px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;font-size:13px;line-height:normal;border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;}.btn:hover{background-position:0 -15px;color:#333;text-decoration:none;}
.btn:focus{outline:1px dotted #666;}
.btn.primary{color:#ffffff;background-color:#0064cd;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));background-image:-moz-linear-gradient(top, #049cdb, #0064cd);background-image:-ms-linear-gradient(top, #049cdb, #0064cd);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));background-image:-webkit-linear-gradient(top, #049cdb, #0064cd);background-image:-o-linear-gradient(top, #049cdb, #0064cd);background-image:linear-gradient(top, #049cdb, #0064cd);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#0064cd #0064cd #003f81;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.btn.active,.btn:active{-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);}
.btn.disabled{cursor:default;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);filter:alpha(opacity=65);-khtml-opacity:0.65;-moz-opacity:0.65;opacity:0.65;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn[disabled]{cursor:default;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);filter:alpha(opacity=65);-khtml-opacity:0.65;-moz-opacity:0.65;opacity:0.65;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn.large{font-size:15px;line-height:normal;padding:9px 14px 9px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.btn.small{padding:7px 9px 7px;font-size:11px;}


.tb-title { font-weight: bold; margin-bottom: 2px}
.tb-name { font-size: 90%;}